<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>

<div id="b">
<test-a>
</test-a>
<!--
<ul class="nav nav-tabs">
      <li role="presentation" @click="currentTab = 'home'"><a href="#">Главная</a></li>
      <li role="presentation" @click="currentTab = 'profile'"><a href="#">Профиль</a></li>
      <li role="presentation" @click="currentTab = 'messages'"><a href="#">Сообщения</a></li>
   </ul>

  <div class="tab-content">
    <div v-if="currentTab == 'home'">Главная </div>
    <div v-if="currentTab == 'profile'">Профиль</div>
    <div v-if="currentTab == 'messages'">Сообщения</div>
  </div>
-->
</div>
  <script src="./testui.js"></script>
</body>

</html>