@import "~bootstrap/scss/bootstrap";


#b {
    border: 1px solid blue
}

table.chess {
    width: 120px;
    border:1px solid blue;
    font-size: 9pt;
}
table.f-sold {
    border:1px solid red;
    color: red;
}

div.fcell-over {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  color: white;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  transform:  translate(0%,-172%);
}

/*
table.f-sold::after {
    content: "sold";
    font-size: 40%;
}
*/

td.chess {
    width: 58px;    
    cursor: pointer
}

span.tabhead {
    width: 120px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    font-size: 120%;
    border-right: 1px solid blue;
    border-top: 1px solid blue;
    border-left: 1px solid blue;
    
    cursor: pointer;
    border-top-right-radius: 10px 10px;
}

span.tab-act {
    background-color: white;
    border-bottom: 1px solid white;
}
span.tab-pas {
    background-color: #dddddd;
    border-bottom: 1px solid blue;
}

td.objitem {
    margin: 0px 7px 0px 7px;
    border-bottom: 1px solid blue;
    cursor: pointer;
}

div.tabs {
    border-bottom: 1px solid blue;
}

div.fi01 {
    float: left;
}

div.left {
    width: 55%
}

div.right {
    width: 44%
}

div.clear {
    clear: both;    
}

.control {
    
}

.input {
    
}

.help {
   color: red; 
}

.is-danger {
    
}
