@import "~bootstrap/scss/bootstrap";


#b {
    border: 1px solid blue
}

.folder {
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    min-width: 0.6em;
    height: 1.5em;
    background: url(../svg/cntr.svg); /* 5px -250px no-repeat; */
    background-position: 5px -165px;
}

label.fi01 {
    width: 9em;
}

p.control {

}

p.field {
    position: relative;
    display: block;
    margin-bottom: 10px;
    color: #424956;
    word-break: break-word;
    font: 15px/17px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.file {
    height: 40px;
}

input.file-input {
    opacity: 0;
    font-size: 50px;  /* ? */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
}

span.file-input {
    height: 39px;
    line-height: 39px;
    margin: 0 12px 0 0;
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;

    background: #ecedef;
    box-shadow: 0 0 0 1px #c6cdd3 inset;
    border-radius: 2px;
    cursor: pointer;
    color: #7a818a;
    font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    outline: 0;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    transition: background-color .2s linear,color .2s linear;
    border: 0;

}



div.selectparts {
    psition: absolute;
    border: 1px solid;
}

table.chess {
    width: 120px;
    border:1px solid blue;
    font-size: 9pt;
}
table.f-sold {
    border:1px solid red;
    color: red;
}

div.fcell-over {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  transform:  translate(0%,-172%);
}

/*
table.f-sold::after {
    content: "sold";
    font-size: 40%;
}
*/

td.chess {
    width: 68px;
    cursor: pointer
}

span.tabhead {
    width: 120px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    font-size: 120%;
    border-right: 1px solid blue;
    border-top: 1px solid blue;
    border-left: 1px solid blue;

    cursor: pointer;
    border-top-right-radius: 10px 10px;
}

span.tab-act {
    background-color: white;
    border-bottom: 1px solid white;
}
span.tab-pas {
    background-color: #dddddd;
    border-bottom: 1px solid blue;
}

td.objitem {
    margin: 0px 7px 0px 7px;
    border-bottom: 1px solid blue;
    cursor: pointer;
}

div.tabs {
    border-bottom: 1px solid blue;
}

div.fi01 {
    float: left;
}

div.left {
    width: 55%
}

div.right {
    width: 44%
}

div.clear {
    clear: both;
}

.control {

}

.input {

}

.help {
   color: red;
}

.is-danger {

}
